<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Sym I Creative Onepage Parallax Template</title>
		<meta name="description" content="Sym is a Creative onepage parallax template by Hencework." />
		<meta name="keywords" content="Sym, one page, onepage, parallax, portfolio, responsive, video, single page, singlepage, template, html5, studio, design, theme, agency, blog, bootstrap, business, creative, fullscreen, modern" />
		<meta name="author" content="Hencework" />
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700' rel='stylesheet' type='text/css'>
		<!--CSS-->
		<link rel="stylesheet" href="assets/css/style.css">
</head>
<body id="body" class="home" data-spy="scroll" data-target=".navbar" data-offset="110">
<!--Preloader-->
<div class="preloader-it">
	<div class="la-anim-1"></div>
</div>
<!--/Preloader-->
<!-- Border-->
	<div class="border">
		<div id="border-top"></div>
		<div id="border-left"></div>
		<div id="border-right">
			<nav class="navbar navbar-default vertical-nav" role="navigation">
				<ul class="nav navbar-nav">
					<li><a data-scroll href="#body"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#about"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#services"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#work"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#team"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#pricing"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#client"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#blog"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#contact"><span class="nav-dots"><span class="slant"></span></span></a></li>
				</ul>
			</nav>
		</div>
		<div id="border-bottom"></div>
	</div>	
<!-- /Border -->

<!--Header-->
<div class="header">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		   <div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" 
				 data-target="#example-navbar-collapse">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			  </button>
			   <a class="navbar-brand" data-scroll href="index.html">
					<img class="dark" src="assets/img/logodark.png" alt="logo"/>
			   </a>
		   </div>
		   <div class="collapse navbar-collapse" id="example-navbar-collapse">
			  <ul class="nav navbar-nav">
				<li><a data-scroll href="#body">Home</a></li>
				<li><a data-scroll href="#about">about</a></li>
				<li><a data-scroll href="#services">services</a></li>
				<li><a data-scroll href="#work">work</a></li>
				<li><a data-scroll href="#team">team</a></li>
				<li><a data-scroll href="#pricing">pricing</a></li>
				<li><a data-scroll href="#client_test">client</a></li>
				<li><a data-scroll href="#blog">blog</a></li>
				<li><a data-scroll href="#contact">contact</a></li>
			  </ul>
		   </div>
			<div class="nav-trig">
				<div class="target-hamburger">
					<ul  class="hamburger">
						<li class="bun"></li>
						<li class="bun"></li>
						<li class="bun"></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
<!--/Header-->

<!--Slanted Overlay Menu-->
<div class="nav-slanted"></div>
<div class="nav-full-screen hidden">
	<nav class="navbar overlay-nav"  role="navigation">
		<div class="overlay-menu-menu">
			<ul  class="nav">
				<li class="menu-item active-menu"><a data-scroll href="#body">Home</a></li>
				<li class="menu-item"><a data-scroll href="#about">about</a></li>
				<li class="menu-item"><a data-scroll href="#services">services</a></li>
				<li class="menu-item"><a data-scroll href="#work">work</a></li>
				<li class="menu-item"><a data-scroll href="#team">team</a></li>
				<li class="menu-item"><a data-scroll href="#pricing">pricing</a></li>
				<li class="menu-item"><a data-scroll href="#client">client</a></li>
				<li class="menu-item"><a data-scroll href="#blog">blog</a></li>
				<li class="menu-item"><a data-scroll href="#contact">contact</a></li>
			</ul>
			<div class="">
				<ul class="social-icons">
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-behance"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>	
	</nav>
	
</div>
<!--/Slanted Overlay Menu-->

<!--slider container-->
<section id="slider" class="slider-container hero parallax-hero">
	<div class="slider-control left inactive"></div>
	<div class="slider-control right"></div>
	<ul class="slider-pagi"></ul>
	<div class="slider  slider-height">
		
		<!--Slider One-->
		<div class="slide slide-0 active">
			<div class="slide__bg"></div>
			<div class="slide__content">
				
				<!--Slider Overlay-->
				<svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
					<path class="slide__overlay-path" d="M0,0 212,0 552,405 0,405" />
				</svg>
				<!--/Slider Overlay-->
				<div class="container">
					<!--Slider Info-->
					<div class="slide__text">
						<h1 class="slide__text-heading">The Hendrix Experience</h1>
						<p class="slide__text-desc lead col-sm-4 pad-zero">The Greatest Guitarist of all time.</p>
						<a class="col-sm-9 pad-zero" href="#" ><u>read more</u></a>
					</div>
					<!--/Slider Info-->
				</div>	
			</div>
		</div>
		<!--/Slider One-->

	</div>
</section>
<!--/slider container-->

<!--Main Content-->
<div class="main-content">



<!--Expertises Sec-->
<section id="services" class="expertises-sec">
<div class="sec-head">
	<div class="slanted-head"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<div class="table-wrap">
					<div class="align-middle">
						<h4>
							The Man Behind the Music
						</h4>
						<div class="seprator sm-sep">
							<span class="seprator-sm black"></span>
							
						</div>
					</div>	
				</div>	
			</div>
			<div class="col-xs-8">
				<div class="table-wrap">
					<div class="align-middle text-right">
						<p>
							The story behind the man and his guitar.
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>	
</div>
<div style="background:#f2f1f1;">
<div class="container padding-sec-sm">
	<div class="row">
		
	</div>	
</div>
</div>
</section>
<!--/Expertises Sec-->





<!--Biography-->
<section id="team" class="container padding-sec-lg team-sec">
<div class="row">
	<div class="col-lg-4">
		<h4>
			Jimi's Life
		</h4>
		<div class="seprator sm-sep">
			<span class="seprator-sm"></span>
			
		</div>
	</div>
	<div class="col-lg-8">
		<p class="lead">A journey through Jimi's eyes.</p>
	</div>
</div>	
<div class="clearfix"></div>
<ul class="our-team">
                
                
                
                <!-- Team Member -->
                <li class="team-margin">
					<div class="team-member hover"  style="background:rgba(247,170,167,0.95)">
					<img class="img-responsive" src="assets/img/team1.jpg" alt="team"/>		
					<div class="hover-out"></div>
					<div class="hover-in table-wrap">
						 <div class="team-info align-middle">
							<h5 class="team-name">How the music began.</h5>
							<div class="seprator">
								<span class="seprator-sm"></span>
							</div>
							<p class="team-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh.</p>
							<ul class="socials">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> 
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li> 						 
								<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					</div>
					<div class="team-per-details">
						<span class="tp-name">The Music</span>
						
					</div>
				</li>
				<!--/Team Member -->
                
                
                <!-- Team Member -->
                <li class="team-margin">
					<div class="team-member hover"  style="background:rgba(220,183,156,0.95)">
					<img class="img-responsive" src="assets/img/team2.jpg" alt="team"/>		
					<div class="hover-out"></div>
					<div class="hover-in table-wrap">
						 <div class="team-info align-middle">
							<h5 class="team-name">A deeper look into Jimi's life.</h5>
							<div class="seprator">
								<span class="seprator-sm"></span>
							</div>
							<p class="team-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh.</p>
							<ul class="socials">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> 
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li> 						 
								<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					</div>
					<div class="team-per-details">
						<span class="tp-name">The Man</span>
					
					</div>
				</li>
				<!--/Team Member -->
                
                
                 <!-- Team Member -->
                <li class="team-margin">
					<div class="team-member hover" style="background:rgba(198,207,220,0.95)">
					<img class="img-responsive" src="assets/img/team3.jpg" alt="team"/>		
					<div class="hover-out"></div>
					<div class="hover-in table-wrap">
						 <div class="team-info align-middle">
							<h5 class="team-name">The end of a legend.</h5>
							<div class="seprator">
								<span class="seprator-sm"></span>
							</div>
							<p class="team-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh.</p>
							<ul class="socials">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> 
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li> 						 
								<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					</div>
					<div class="team-per-details">
						<span class="tp-name">The Mystery</span>
						
					</div>
				</li>
				<!--/Team Member -->
                
                
                </ul>  				
                <!--/Our Team -->
	
</section>
<!--/Team Sec-->

<!--Start A Project Sec-->
<section class="start-project">
	<div class="sec-head  padding-sec-sm">
	<div class="slanted-head"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 center-div">
				<h2>
					Wanna Know Jimi's Guitar Secrets?
				</h2>
				<div class="seprator">
					<span class="seprator-sm center-div"></span>
				</div>
			</div>
			<div class="col-xs-4 center-div">
				<a data-scroll href="#contact" class="btn btn-3 btn-3e icon-arrow-right">Click Here<i class="fa fa-angle-right"></i></a>
			</div>
		</div>	
	</div>	
</div>
</section>
<!--/Start A Project Sec-->

<!--Pricing Sec-->
<section id="pricing" class="pricing-sec padding-sec-lg parallax" style="background-image:url(assets/img/parallaxbg2.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>
					The Hendrix Experience Prices
				</h4>
				<div class="seprator sm-sep">
					<span class="seprator-sm"></span>
					
				</div>
				<p class="lead">
					As with every conversation, what you say determines what you get. A well­ performed content creates an instant connection with visitors.
				</p>
			</div>
			<div class="col-md-9">
				<div class="row">
					<!-- Pricing Item -->
					<div class="col-xs-4">
						<div class="p-table-item">
							<div class="p-table-item-inner">
								<div class="p-table-wrap">
									
									<div class="pricing-tag-wrap">
										<!-- Icon (Simple-line-icons) -->
										<div class="p-table-icon">
											<i class="icon-hotairballoon"></i>
										</div>
										
										<!-- Pricing Title -->
										<div class="p-table-title">
											Standard Tickets
										</div>
										<!-- Pricing Title -->
									</div>	
									<div class="pricing-detail-wrap">
										<!-- Price -->
										<div class="p-table-num">
											<sup>$</sup>259
										</div>											
										<div class="p-table-per">
											
										</div>	
										<!--/Price -->
										
										<!-- Pricing Features -->
										<!-- <div class="p-table-features">
											<ul class="p-table-list">
												<li><i class="fa fa-check"></i>8 GB Storage Space</li>
												<li><i class="fa fa-check"></i>25 Domain Names</li>
												<li class="inactive"><i class="fa fa-check"></i>100 Products</li>
												<li class="inactive"><i class="fa fa-check"></i>24/7 Customer Support</li>
											</ul>
										</div>			 -->																		
										<!--/Pricing Features -->
										
										<!-- Button -->											
										<div class="p-table-button">
											<a href="" class="btn btn-3 btn-3e icon-arrow-right">purchase<i class="fa fa-angle-right"></i></a>
										</div>
										<!--/Button -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Pricing Item -->
					
					<!-- Pricing Item -->
					<div class="col-xs-4">
						<div class="p-table-item">
							<div class="p-table-item-inner">
								<div class="p-table-wrap  highlighted">
									
									<div class="pricing-tag-wrap">
										<!-- Icon (Simple-line-icons) -->
										<div class="p-table-icon">
											<i class="icon-genius"></i>
										</div>
										
										<!-- Pricing Title -->
										<div class="p-table-title">
											All Access Tickets
										</div>
										<!-- Pricing Title -->
									</div>	
									<div class="pricing-detail-wrap">
										<!-- Price -->
										<div class="p-table-num">
											<sup>$</sup>359
										</div>											
										<div class="p-table-per">
											
										</div>	
										<!--/Price -->
																				
										<!-- Pricing Features -->
										<!-- <div class="p-table-features">
											<ul class="p-table-list">
												<li><i class="fa fa-check"></i>15 GB Storage Space</li>
												<li><i class="fa fa-check"></i>75 Domain Names</li>
												<li><i class="fa fa-check"></i>1,000 Products</li>
												<li class="inactive"><i class="fa fa-check"></i>24/7 Customer Support</li>
											</ul>
										</div>		 -->																			
										<!--/Pricing Features -->
										
										<!-- Button -->											
										<div class="p-table-button">
											<a href="" class="btn btn-3 btn-3e icon-arrow-right">purchase<i class="fa fa-angle-right"></i></a>
										</div>
										<!--/Button -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Pricing Item -->
				   
					<!-- Pricing Item -->
					<div class="col-xs-4">
						<div class="p-table-item">
							<div class="p-table-item-inner">
								<div class="p-table-wrap">
									
									<div class="pricing-tag-wrap">
										<!-- Icon (Simple-line-icons) -->
										<div class="p-table-icon">
											<i class="icon-global"></i>
										</div>
										
										<!-- Pricing Title -->
										<div class="p-table-title">
											VIP Pass and Tickets
										</div>
										<!-- Pricing Title -->
									</div>	
									<div class="pricing-detail-wrap">
										<!-- Price -->
										<div class="p-table-num">
											<sup>$</sup>459
										</div>											
										<div class="p-table-per">
											
										</div>	
										<!--/Price -->
										
										<!-- Pricing Features -->
										<!-- <div class="p-table-features">
											<ul class="p-table-list">
												<li><i class="fa fa-check"></i>25 GB Storage Space</li>
												<li><i class="fa fa-check"></i>150 Domain Names</li>
												<li class="inactive"><i class="fa fa-check"></i>2,500 Products</li>
												<li class="inactive"><i class="fa fa-check"></i>24/7 Customer Support</li>
											</ul>
										</div>		 -->																			
										<!--/Pricing Features -->
										
										<!-- Button -->											
										<div class="p-table-button">
											<a href="" class="btn btn-3 btn-3e icon-arrow-right">purchase<i class="fa fa-angle-right"></i></a>
										</div>
										<!--/Button -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Pricing Item -->
				</div>
			</div>	
		</div>
	</div>
</section>
<!--/Pricing Sec-->

<!--Services Sec-->
<section id="process" class="container padding-sec-lg service-sec">
<div class="row">
	<div class="col-sm-6 center-div">
		<h2>
			The Hendrix Effect
		</h2>
		<div class="seprator">
			<span class="seprator-sm center-div"></span>
			
		</div>
	</div>
</div>	
<div class="row">
	<!-- Service Icon Boxes -->
                <div class="col-sm-3 text-center">
                   	<div class="service-icon-top">
                    	<div class="process-icon">
							<svg version="1.1" id="process_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="43px" height="52px" viewBox="0 0 43 52" enable-background="new 0 0 43 52" xml:space="preserve">
							<path  fill="none" stroke="#FFD02B" stroke-width="2" d="M11.568,1.002h19.999"/>
							<path  fill="none" stroke="#FFD02B" stroke-width="2" stroke-miterlimit="10" d="M26.432,6.001v16.666l11.666,11.665
								c4.555,4.557,4.527,12.111-0.023,16.666H23.167H4.929c-4.555-4.555-4.58-12.109-0.026-16.666l11.666-11.665V6.001"/>
							<path  fill="none" stroke="#FFD02B" stroke-width="2" stroke-miterlimit="10" d="M21.292,27.38L9.621,39.046
								c-0.939,0.938-1.457,2.22-1.454,3.606c0.001,0.584,0.091,1.146,0.271,1.68"/>
							</svg>

						</div>
						<h3>Rise</h3>
						<div class="relative-div">
							<div class="service-icon-wrap">
								<span>01</span>
							</div>
						</div>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    </div>
                </div>
                
                <div class="col-sm-3 text-center">
                   	<div class="service-icon-top">
                    	<div class="process-icon">
							<svg version="1.1"  id="process_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="47px" height="46px" viewBox="0 0 47 46" enable-background="new 0 0 47 46" xml:space="preserve">
							<path  fill="none" stroke="#FFD02B" stroke-width="2" d="M20.565,39.359l-2.993,2.908V31.736l13.34,12.014L44.25,2.25
								L2.75,17.071l10.436,10.168l16.11-12.194"/>
							</svg>
						</div>
						<h3>Create</h3>
						<div class="relative-div">
							<div class="service-icon-wrap">
								<span>02</span>
							</div>
						</div>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    </div>
                </div>
                
                <div class="col-sm-3 text-center">
                   	<div class="service-icon-top">
                    	<div class="process-icon">
						<svg version="1.1" id="process_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="51px" height="48px" viewBox="0 0 51 48" enable-background="new 0 0 51 48" xml:space="preserve">
						<path fill="none" stroke="#FFD02B" stroke-width="2" d="M49.654,22.39v24.173H1.346V6.288H25.5"/>
						<path fill="none" stroke="#FFD02B" stroke-width="2" d="M37.992,6.288l-17.08,17.079l4.557,2.275l2.277,4.556
							l17.076-17.079"/>
						<path fill="none" stroke="#FFD02B" stroke-width="2" stroke-miterlimit="10" d="M48.238,9.704
							c1.887-1.888,1.887-4.949,0-6.831c-1.887-1.888-4.947-1.888-6.83,0L48.238,9.704z"/>
						<path fill="none" stroke="#FFD02B" stroke-width="2" d="M24.108,33.834l-10.247,3.412L17.277,27"/>
						</svg>
						</div>
						<h3>Connect</h3>
						<div class="relative-div">
							<div class="service-icon-wrap">
								<span>03</span>
							</div>
						</div>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    </div>
                </div>
                
                <div class="col-sm-3 text-center last">
                   	<div class="service-icon-top">
                    	<div class="process-icon">
							<svg version="1.1" id="process_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="54px" height="46px" viewBox="0 0 54 46" enable-background="new 0 0 54 46" xml:space="preserve">
							<path  fill="none" stroke="#FFD02B" stroke-width="2" d="M3.145,22.02L27,33.729L50.855,22.02"/>
							<path  fill="none" stroke="#FFD02B" stroke-width="2" d="M3.145,31.824L27,43.533l23.855-11.709"/>
							<path fill="none" stroke="#FFD02B" stroke-width="2" d="M4.854,12.998L27.541,2.466l22.688,10.531L27.541,23.529
								L4.854,12.998z"/>
							</svg>

						</div>
						<h3>Conquer</h3>
						<div class="relative-div">
							<div class="service-icon-wrap">
								<span>04</span>
							</div>
						</div>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    </div>
                </div>
                <!--/Service Icon Boxes -->
</div>
</section>
<!--/Services Sec-->

<!--Testimonial Sec-->
<section id="client_test" class="testimonial-sec padding-sec-sm parallax" style="background-image:url(assets/img/parallaxbg3.jpg);">
	<div class="sec-overlay"></div>
	<!-- container -->
	<div class="container">
			<div class="row">
			<div class="lets-talk-img  parallax"></div>
			<!-- Testimonial Slider -->
			<div class="testimonial-slider col-lg-5">
				<div id="testimonial-slider" class="owl-carousel owl-theme">
					<!-- Item -->
					<div class="owl-item active">
						<div class="center-div">
							<p>“One of the best Greates & riveting experiences I have ever seen. Amazing sound quality loaded with cool performances gives a feast to the eyes.”</p>
							<span class="test-name">jarad fox,</span>
							<span class="test-desn">&nbsp;Night Association Co.</span>
						</div>	
					</div><!-- Item /- -->
					<!-- Item -->
					<div class="owl-item">
						<div class="center-div">
							<p>“It really has the potential to make a wonderful Design Studio Website. The Theme is super flexible and can be easily customizable. It works on all modern devices also. Well done and good luck with sales.”</p>
							<span class="test-name">Mariya Tallen,</span>
							<span class="test-desn">&nbsp;Fox Digital</span>
						</div>
					</div><!-- Item /- -->
				</div><!-- Carousel Inner -->
			</div><!-- Testimonial Slider /- -->
			<!--Client Sec-->
			<div id="client" class="col-lg-7 client-sec">
				<div id="client-wrap" class="owl-carousel owl-theme">
					<div class="owl-item">
						<div>
							<div class="client-box">
								<img src="assets/img/clients/client1.png" alt="client" />
							</div>
						</div>
					</div>
					<div class="owl-item">
						<div>
							<div class="client-box">
								<img src="assets/img/clients/client2.png" alt="client" />
							</div>
						</div>
					</div>
					<div class="owl-item">
						<div>
							<div class="client-box">
								<img src="assets/img/clients/client3.png" alt="client" />
							</div>
						</div>
					</div>
					<div class="owl-item">
						<div>
							<div class="client-box">
								<img src="assets/img/clients/client4.png" alt="client" />
							</div>
						</div>
					</div>
					<div class="owl-item">
						<div>
							<div class="client-box">
								<img src="assets/img/clients/client5.png" alt="client" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/Client Sec-->
		</div>	
	</div><!-- container -->
</section>
<!-- /Testimonial Section-->



<!--Blog Sec-->
<section id="blog" class="blog-sec padding-sec-lg">
	<div class="row">
		<div class="col-lg-6 center-div">
			<h2>
				The life of Hendrix
			</h2>
			<div class="seprator">
				<span class="seprator-sm center-div"></span>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>	
	<ul class="container blog-wrap">
		<li class="blog-list" style="background:url(assets/img/blog1.jpg);">
			<div class="blog-con">
				<div class="seprator">
					<span class="seprator-sm center-div"></span>
					
				</div>
				<h3>His influence in the music industry</h3>
				<span class="blog-cat">web design</span>
				<span class="blog-date">13.12.17</span>
				<span class="blog-per">by admin</span>
			</div>
			<div class="blog-overlay"></div>
			<div class="blog-dark-overlay"></div>
			<a class="link-detail" href="blog-detail.html"></a>
		</li>
		<li class="blog-list" style="background:url(assets/img/blog2.jpg);">
			<div class="blog-con">
				<div class="seprator">
					<span class="seprator-sm center-div"></span>
					
				</div>
				<h3>10 Fun Facts</h3>
				<span class="blog-cat">Graphics</span>
				<span class="blog-date">13.12.17</span>
				<span class="blog-per">by paul mark</span>
			</div>
			<div class="blog-overlay"></div>
			<div class="blog-dark-overlay"></div>
			<a class="link-detail" href="blog-detail.html"></a>
		</li>
		<li class="blog-list last" style="background:url(assets/img/blog3.jpg);">
			<div class="blog-con">
				<div class="seprator">
					<span class="seprator-sm center-div"></span>
					
				</div>
				<h3>His Legacy</h3>
				<span class="blog-cat">photography</span>
				<span class="blog-date">13.12.17</span>
				<span class="blog-per">by admin</span>
			</div>
			<div class="blog-overlay"></div>
			<div class="blog-dark-overlay"></div>
			<a class="link-detail" href="blog-detail.html"></a>
		</li>
	</ul>
	<a  href="blog.html" class="btn btn-3 btn-3e icon-arrow-right">see all posts<i class="fa fa-angle-down"></i></a>
</section>
<!--/Blog Sec-->

<!--Contact Sec-->
<section id="contact"  class="contact-sec padding-sec-lg">
	<div class="form-wrap container" data-ng-controller="ContactController" data-ng-app="contactApp">
		<div class="row">
			<div class="col-lg-6 center-div">
				<h2>
					hey <span  data-ng-bind="formData.inputName||'there'">there</span>
				</h2>
				<div class="seprator">
					<span class="seprator-sm center-div"></span>
					
				</div>
			</div>
		</div>	
		<div class="clearfix"></div>
		<form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class=" form-horizontal" role="form">
			<div class="form-group col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
				<div class="input-wrap">
					<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
				</div>	
			</div>
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
				<div class="input-wrap">
					<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
				</div>	
			</div>
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
				<div class="input-wrap">
					<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
				</div>	
			</div>
			<div class="form-group">
				<div class="center-div">
					<button  type="submit" class="btn btn-3 btn-3e icon-arrow-right" data-ng-disabled="submitButtonDisabled">send<i class="fa fa-angle-down"></i></button>
				</div>
			</div>
		</form>
		<p data-ng-class="result">{{ resultMessage }}</p>
	</div>
	<div class="address-sec padding-top-lg container">
		<div class="row">
			<div class="col-xs-4">
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
				<div class="col-md-11 col-sm-10 col-xs-11">
					<span class="tag">email</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-lg-12">	
					<a href="mailto:hello@Hencework.com" target="_blank">info@Sym.com</a>
				</div>	
			</div>
			<div class="col-xs-4">
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
				<div class="col-md-11 col-sm-10 col-xs-11">
					<span class="tag">phone</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-lg-12">		
					<a href="callto:954788315970" target="_blank">+95 (478) 831-5970</a>
				</div>	
			</div>
			<div class="col-xs-4">
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-map-marker"></i></div>
				<div class="col-md-11 col-sm-10 col-xs-11">
					<span class="tag">address</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-lg-12">
					<p>350 Fifth Avenue, NY 10118 USA.</p>
				</div>	
			</div>
		</div>	
	</div>
</section>
<!--/Contact Sec-->



</div>
<!--/Main Content-->
<!--Footer Sec-->
<section class="footer-sec">
	<footer>
		<div class="sec-head">
			<div class="slanted-head"></div>
			<div class="container center-div padding-sec-xs">
				<div class="copyright">
					<ul class="social-icons">
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-behance"></i>
							</a>
						</li>
					</ul>
					<p>Pampered by Hencework © 2017</p>
				</div>	
			</div>	
		</div>
		<div class="gototop">
			<a href="#body" data-scroll class="btn btn-3 btn-3e"><i class="fa fa-angle-up"></i></a>
		</div>
	</footer>
</section>	
<!--/Footer Sec-->

<!--JavaScripts-->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/controllers.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
<script src="assets/js/init.js"></script>
</body>
</html>


